article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
	font-family: 'Montserrat';
	font-weight: 100;
	background: #2D4155;
	color: #ECF0F1;
	text-transform: uppercase;
	letter-spacing: 2px;
}

main {
	min-height: 100vh;
}

.wrapper {
	max-width: 1025px;
	margin: 0 auto;
}

h1 {
	font-size: 2.5rem;
	font-weight: 100;
	transition: all .3s;
	margin: 0;
}

img {
	opacity: .9;
	transition: all .3s
}

button {
	background: none;
	font-size: .8rem;
	font-weight: 300;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #ECF0F1;
	padding: 10px;
	margin-right: 13px;
	border: 2px solid #ECF0F1;
	border-radius: 5px;
	background: rgba(225, 225, 225, .2);
	transition: all .3s;
	&:hover {
		background: #ECF0F1;
		color: #2D4155;
	}
}
.new-idea-btn, .create-btn {
	background: #FFE98F;
	border: 2px solid #FFE98F;
	color: #2D4155;
	&:hover {
		background: #FFE98F;
		border: 2px solid #FFE98F;
	}
}

.login-page {
	min-height: 100vh; 
	display: flex; 
	align-items: center; 
	justify-content: center;
	h1 {
		font-size: 6rem;
		padding-bottom: 30px;
	}
	p {
		font-size: 1.2rem;
		font-weight: 300;
		text-transform: none;
		color: #ead78e;
	}
	.login-btn {
		padding: 10px 40px;
		font-size: 1.3rem;
		margin-top: 30px;
	}
}

.logged-in-home {	
	position: fixed;
	display: flex;
	top: 0;
	padding: 0 20px;
	z-index: 2;
	background: #2D4155;
	background: rgba(45,65,85,.95);
	width: 100%;
	img {
		height: 60px;
		margin-top: 20px;	 
		margin-right: 10px;
	}
	p {
		margin: 0;
		padding-top: 20px;
	}
	button {
		margin-left: 13px;
		margin-right: 0;
		margin-top: 40px;
	}
	.header-right {
		position: absolute;
		right: 25px;
	}
}

.add-card {
	display: flex;
	justify-content: center;
}

.card-container {
	padding: 0;
	padding-top: 120px;
	display: flex;
	flex-wrap: wrap;
	max-width: 1025px;
	justify-content: flex-start;
	margin: 0 auto;
	padding-bottom: 30px;
	position: relative;
	.card-content {
		color: #ECF0F1;
		padding: 10px;
		margin: 10px;		
		border: 2px solid #ECF0F1;
		border-radius: 5px;
		background: rgba(225, 225, 225, .2);
		height: 230px;
		width: 230px;
		text-align: center;
		position: relative;
		&:hover {
			background: rgba(225, 225, 225, .2);
		}
		h3 {
			margin-top: 40px;
			font-size: 1rem;
			color: #ffe98f;
		}
		p {
			font-size: .8rem;
			letter-spacing: 1px;
		}
		.close-btn-white {
			position: absolute;
			right: -10px;
			top: 0px;
			border: none;
			background: none;
			img {
				width: 10px;
				height: 10px;
			}
		}
	}
}

.form-modal {
	position: fixed;
	background: rgba(0,0,0,.5);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}
.new-idea-form {
	background: #ECF0F1;
	height: 320px;
	width: 300px;
	border-radius: 5px;
	margin: 0 auto;
    text-align: center;
    position: relative;
	input, textarea {
		font-family: 'Montserrat';
		text-transform: uppercase;
		width: 80%;
		padding: 10px;
		text-align: center;
		margin-top: 40px;
		font-size: .8rem;
		font-weight: 200;
		border: none;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		background: #ecf0f1;
	}
	textarea{
		border-bottom: none;
	}
	.create-btn {
		margin-top: 10px
	}
	.close-btn {
		background: transparent;
		border: none;
		width: 30px;
		height: 30px;
		position: absolute;
		top: 10px;
		right: 10px;
		img {
			width: 100%;
		}
	}
}

@media (max-width: 1025px) {
	img.logo {
		width: 250px;
	}
	.login-page {
		.login-btn {
			font-size: 1rem;
		}
		h1 {
	    	font-size: 4.5rem;
		}	
	}
	.card-container {
		max-width: 780px;
	}
}

@media (max-width: 780px) {
	.login-page {
		text-align: center;
		flex-direction: column;
		img.logo {
			width: 180px;
			position: absolute;
			top: 10px;
			z-index: -3;
			opacity: .2;
		}
		.login-btn {
			font-size: 1rem;
		}
		h1 {
			font-weight: 200;
		}
		
	}
	.card-container {
		max-width: 500px;
	}
}

@media (max-width: 650px) {
	.logged-in-home {
		flex-direction: column;
	    .landingbackdrop {
	    	height: 74px;
	    	opacity: .2;
	    	z-index: -20;
	    	position: absolute;
	    	left: 50%;
	    	transform: translateX(-52%);
	    }
		.header-left {
			text-align: center;
			h1 {
				font-size: 2rem;
			}
			p {
				font-size: .8rem;
				padding-top: 10px;
			}
		}
		.header-right {
			position: static;
		    margin: 0 auto;
		    right: 25px;
		    button {
				padding: 8px;
				font-size: .6rem;
				margin: 5px;
		    }
			.log-out-btn {
				padding: 8px 12px;
			}
		}
	}
}

@media (max-width: 510px) {
	.card-container {
    	max-width: 250px;
	}
}

@media (max-width: 340px) {
	.login-page {
		h1 {
			font-size: 3rem;
			margin-bottom: 0;
		}
		p {
			font-size: 1rem;
		}
		button {
			
		}
		img.logo {
			width: 150px;
		}
	}

	.logged-in-home {
		h1 {
			font-size: 1.6rem;
		}
		p {
    		font-size: .7rem;
    	}
    	.landingbackdrop {
    		height: 70px;
		}
	}
}

@media (max-width: 260px) {
	.logged-in-home .header-left h1 {
	    font-size: 1.5rem;
	}
}